<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Getting started</h1>
    <!-- <p></p>
    	<p>If you don't have access to Mathematica we can recommend the <a href="http://www.wolfram.com/mathematica/trial/">30 day unrestricted trial version</a>.</p>
	<br> -->
    <br>
    <p>Download the toolbox. Unpack the toolbox. Install the toolbox. &lt;&lt;Toolbox`</p>
    <p><a class="btn btn-info btn-large " href="about">Learn more <i class="icon-info-sign icon-white icon-large"></i></a> <a class="btn btn-success btn-large " href="https://github.com/SBRG/MASS-Toolbox/releases">Download <i class="icon-download icon-white icon-large"></i></a></p>
</div>
