<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Getting started</h1>
    <p></p>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-info btn-large " href="about.html">Learn more <i class="icon-info-sign icon-white icon-large"></i></a> <a class="btn btn-success btn-large " href="about.html">Download <i class="icon-download icon-white icon-large"></i></a></p>
</div>
