<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Getting started</h1>
    <p></p>
    <p class='warning'>The toolbox is not yet publicly available (and this site is under construction). It has been submitted for publication. If you're one of the peer reviewers you can access the toolbox at the currently private <a href="https://github.com/SBRG/MASS-Toolbox">Github repository</a> with the following credentials</p>
    	<li>username: toolbox-reviewer</li>
    	<li>password: np-P13xxxxA (the four x's are the last four digits of the manuscript number)</li>
	<br>
	<p>The repository contains all the developer source code (that will be made open source after publication). The README.md file (top level directory) contains a URL to a version of the toolbox intended for installation. It contains the compiled documentation and an installation notebook (Installer.nb).</p>
	<p>If you don't have access to Mathematica we can recommend the <a href="http://www.wolfram.com/mathematica/trial/">30 day unrestricted trial version</a> provided by Wolfram.</p>
	<br>
    <p>Download the toolbox. Unpack the toolbox. Install the toolbox. &lt;&lt;Toolbox`</p>
    <p><a class="btn btn-info btn-large " href="about.html">Learn more <i class="icon-info-sign icon-white icon-large"></i></a> <a class="btn btn-success btn-large " href="#">Download <i class="icon-download icon-white icon-large"></i></a></p>
</div>
