#NavigatorPane .Tab {
  background-color: #4A4A4A;
  font-size: 0.83em;
  padding: 2px 6px 2px 6px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
}
#NavigatorPane .TabActive {
  background-color: #91000B;
}
#NavigatorPane a { text-decoration: none; }
#NavigatorPane a img { border: none; }
#NavigatorPane .Head a { font-weight: bold; }
#NavigatorPane .Head a.NavigatorLink { color: #A65F26; }
#NavigatorPane .Head a.NavigatorNodeLink { color: #7B7B7B; }
#NavigatorPane .Head a.NavigatorPageLink {  color: #A65F26; display: none; }

#NavigatorPane {
  display: block;
  position: absolute;
  padding: 0;
  left: 60px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  z-index: 100;
}
#NavigatorOuter { background-color: #f5f5f5; }
#NavigatorInner {
  border-left: solid 2px #c6c6c6;
  border-right: solid 2px #c6c6c6;
  border-bottom: solid 2px #c6c6c6;
}
#NavigatorScroll { height: 500px; }

#NavigatorPane .Level1 {
  margin: 8px 12px 8px 12px;
  padding: 2px;
  background-color: #FFFFFF;
  border: solid 1px #c6c6c6;
  font-size:.9em;
}
#NavigatorPane .Level1 div {
}
#NavigatorPane .Level2 {
  font-size:.9em;
  line-height: 18px;
}
#NavigatorPane .Level3,
#NavigatorPane .Level4,
#NavigatorPane .Level5,
#NavigatorPane .Level6 {
  font-size:.9em;
  line-height: 14px;
}
#NavigatorPane .Head {
  margin: 6px 2px 6px 2px;
}
#NavigatorPane .Content {
  margin-left: 16px;
}
#NavigatorPane .Content {
  display: none;
}
#Navigatorane div.Delimiter {
  margin: 0;
  padding: 4px 0 2px 1em;
}
#NavigatoPane hr {
  background-color: #CCCCCC;
  color: #CCCCCC;
  text-align: left;
  margin: 0 auto 0 0;
  width: 200px;
  height: 1px;
  style: solid;
}
td.Dingbat {
  padding-top: 4px;
  width: 16px;
  margin-right:0px;
  text-align: center;
  vertical-align: top;
}
td.Dingbat img {
  width: 8px; height: 8px;
}
#NavigatorPane .Leaf {
  margin: 6px 2px 6px 2px;
  color: #B8B8B8;
}
#TabBar {
  background-color: #000000;
}
#TabBar table {
  border-collapse: collapse;
  margin-left: 8px;
}
#TabBar td {
  padding: 0 8px 0 8px;
}
#TabBar a {
  color: white;
  text-decoration: none;
}
#TabBar a:hover {
color: white;
}
#TabBottom {
  line-height: 6px;
  height: 6px;
  background-color: #91000B;
}
